@media screen and (orientation:landscape){
main{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 13.8888888888vh;
    margin-inline: 10.416666666vw;
}

body{
    overflow-y: hidden;
}

main .inputArea{
    position: fixed;
    bottom: 0px;
    height: 9.259259vh;
    display: flex;
    justify-content: center;
    gap: 1.04166666666666vh;
}

input[type=text]{
    background: #D9D9D9;
    border-radius: 30px;
    height: 4.629629vh;
    width: 52.08333333vw;
    padding-inline: 1.0416666666666vw;
    font-size: 1.5740740vh;
}

.buttonIcon{
    height: 3.703703vh;
    width: 3.703703vh;
}
.buttonIcon *{
    height: 3.2407407vh;
    width: 3.2407407vh;
}

.chatArea{
    align-self: stretch;

    overflow-x: scroll;

    height: 74.074074vh;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}
.chatArea ul{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 4.6296296vh;
    gap: 1.851851vh;
}

.chatArea ul li.clientMsg{
    display: flex;
    justify-content: start;
}
.chatArea ul li.clientMsg .container{
    background: #128a33;
    width: 20.83333333vw;
    padding: 0.925925vh;
    border-radius: 16px;
    word-break: break-all;
}

.chatArea ul li.providerMsg{
    display: flex;
    justify-content: end;
}
.chatArea ul li.providerMsg .container{
    background: #172678;
    width: 20.833333333333vw0;
    padding: 0.925925vh;
    border-radius: 16px;
}

.chatArea ul li .container *{
    color: white;
    user-select: text;
}

.chatArea ul li .container .time{
    font-size: 0.925925vh;
    margin-top: 0.462462vh;
}
}
