.top{
    margin-inline: 5.208vw;
    margin-top: 4.6296vh;
    display: flex;
}

main .left{
    width: 50%;
}

main .left h1{
    margin-top: 7.407407vh;
    width: auto;
}
main .left h1 svg{
    height: 20.793703vh;
    width: auto;
}

main .left h1 svg:hover{
    transform: scale(1.006);
}

main .left .subHead{
    font-size: 2.604166666666666666666666666vw;
    font-weight: bold;
    margin-top: 1.8888888888vh;
}

main .right{
    flex-grow: 1;
}

.boxGrid{
    margin-top: 15.740740vh;
    margin-left: 8.8541vw;
    width: 36.458333vw;
    height: auto;
    display: flex;
    gap: 1.5625vw;

}

.boxGrid .col1{
    display: flex;
    flex-direction: column;
    gap: 1.5625vw;
    align-items: end;
}

.boxGrid .col2{
    display: flex;
    flex-direction: column;
    gap: 1.5625vw;
    align-items: start;
    justify-content: center;
}

.box{
    width: 15.625vw;
    height: 15.625vw;
    border: black solid 0.208333333333vw;
    border-radius: 16px;
    background: #CECECE;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.box svg{
    display: none;
}

.box:hover{
    transform: scale(1.02);
    box-shadow: 0 0 0.52083333333vw rgba(0, 0, 0, 0.7);
}

.box1{
    width: 14.427vw;
    height: 14.427vw;
    background: #CECECE;
    font-size: 3.7037vh;
}

.box2{
    width: 10.7291666vw;
    height: 10.7291666vw;
    background: #A7A7A7;
    font-size: 2.777777777777vh;
}

.box3{
    width: 17.708333vw;
    height: 17.708333vw;
    background: #FFF;
    font-size: 4.629629vh;
}

main .top .left .arrow{
    width: 31.425052083333vw;
    height: 25.837407vh;
    transform: rotate(180deg) scaleX(-1) scaleY(-1);
    stroke: #000;
    stroke-width: 0.370370370vh;
    margin-top: 0vw;
    margin-left: 14.0625vw;
}
