main{
    margin-inline: 5vw;
    margin-top: 15vh;

    display: flex;
}

.left .text h1{
    font-weight: bold;
    font-size: 6.5vh;
}

.left{
    width: 50%;
}

.left .text h2{
    font-weight: 200;
    font-size: 3vh;
}

.left .getStartedBtn{
    margin-top: 4vh;
    width: 10vw;
    height: 5vh;
}

.right{
    width: 50%;
    display: flex;
    justify-content: end;
}

.right .images{
    height: 120%;
    width: 80%;

    position: relative;
}

.right .images :first-child{
    width: 27vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
}
.right .images :last-child{
    width: 15vw;
    height: 30vh;
    position: absolute;
    bottom: 0;
    right: 0;

    border: 1vw solid var(--background);
}
