@media screen and (orientation:landscape){
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-inline: 100px;
}

main .logo, main .logo svg{
    height: 80px;
}

main .mainSection{
    margin-top: 40px;
    background: #A7A7A7;
    height: 426px;
    width: 402px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px;
}

main .mainSection .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

main .mainSection .buttons div{
    width: 220px;
    display: flex;
    font-weight: 500;
    font-size: 27px;
    height: 60px;
}

main .mainSection p.fieldHeader {
    font-weight: 500;
    margin-left: 10px;
    font-size: 20px;
    
}

main .mainSection .input{
    width: 400px;
}
main .mainSection .inputFields{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .mainSection .inputFields .nameFields{
    display: flex;
    justify-content: space-between;
    margin-right: 28px;
    gap: 10px;
}
main .mainSection .inputFields .nameFields *{
    width: 170px;
}

input[type=text], input[type=password]{
    border: none;
    font-size: 20px;
    padding-inline: 10px;
    width: 375px;
    border-radius: 8px;
    padding-block: 3px;
}

.password .field{
    display: flex;
    align-items: center;
}

.password .field i{
    position: relative;
    right: 8%;
    cursor: pointer;
    color: gray;
}

.textButton{
    font-size: 20px;
}
}