@media screen and (orientation:portrait) {
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
        margin-inline: 5.3vw;
    }

    main .logo, main .logo svg{
        height: 6vh;
    }

    main .mainSection{
        margin-top: 4vh;
        background-color: #d7d7d7;
        width: 60vw;
        height: 33vh;

        border-radius: 1.6vh;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        padding: 2vh 1.1vw;
    }

    main .mainSection .buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2vw;
    }

    main .mainSection .buttons div{
        width: 30vw;
        display: flex;
        font-weight: 500;
        font-size: 2vh;
        height: 5vh;
        margin-left: 2vw;
    }

    .textButton{
        margin-right: 2vw;
        font-size: 1.3vh;
    }

    main .mainSection p.fieldHeader{
        font-weight: 500;
        margin-left: 1vw;
        font-size: 2vh;
    }

    main .mainSection .input{
        margin-inline: 2vw;
    }

    main .mainSection .inputFields{
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    main .mainSection .inputFields .nameFields{
        display: flex;
        gap: .5vw;
    }

    main .mainSection .inputFields .nameFields *{
        width: 23.8vw;
    }

    input[type=text], input[type=password]{
        border: none;
        font-size: 2vh;
        padding-inline: 1vw;
        border-radius: 1vw;
        padding-block: 0.3vh;
        width: 52vw;
    }

    .password .field, .password .input{
        display: flex;
        align-items: center;
    }

    .password .field i{
        position: relative;
        right: 12%;
        cursor: pointer;
        color: gray;
        transform: scale(1.7);
    }
}

@media screen and (orientation:landscape){
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-inline: 5.263vw;
}

main .logo, main .logo svg{
    height: 8vh;
}

main .mainSection{
    margin-top: 4vh;
    background: #A7A7A7;
    height: 42.6vh;
    width: 21.157vw;
    border-radius: 1.6vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 2vh 1.1vw;
}

main .mainSection .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

main .mainSection .buttons div{
    width: 220px;
    display: flex;
    font-weight: 500;
    font-size: 27px;
    height: 60px;
}

main .mainSection p.fieldHeader {
    font-weight: 500;
    margin-left: 10px;
    font-size: 2vh;
}

main .mainSection .input{
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
main .mainSection .inputFields{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1vh;
}

main .mainSection .inputFields .nameFields{
    display: flex;
    justify-content: space-between;
    gap: 0.526vw;
    align-self: stretch;
}

main .mainSection .inputFields .nameFields div{
    width: 50%;
}

main .mainSection .inputFields .nameFields div input{
    width: 9.8vw;
}

input[type=text], input[type=password]{
    border: none;
    font-size: 2vh;
    padding-left: 0.526vw;
    border-radius: 8px;
    padding-block: .3vh;
    align-self: stretch;
}

.password .field{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textButton{
    font-size: 20px;
}
}