@media screen and (prefers-color-scheme:light){
    :root{
        --text: #242424;
        --background: #fff;
        --blue: #1e32a9;
        --green: #138b38;
        --border: #000;
        --text-inverted: #fff;
    }
}
@media screen and (prefers-color-scheme:dark){
    :root{
        --text: #fff;
        --background: #333;
        --blue: #a9951e;
        --green: #8b1366;
        --border: #fff;
        --text-inverted: #000;
    }

    .header .logo :first-child{
        fill: var(--green);
    }
    .header .logo :last-child{
        fill: var(--blue);
    }
}

:root{
    --border-radius: 4vh;
    --alert: red;
}


*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    transition: .3s;
    user-select: none;
    text-decoration: none;
    color: var(--text);
    list-style: none; 
    border: none;
}



.header{
    height: 7.6vh;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;    

    padding-inline: 3vw;
}

.header .navItems a.active{
    transform: scale(1.15);
    color: var(--blue);
    font-weight: bold;
}
.header .navItems a{
    width: auto;
    height: auto;
    font-size: 2.5vh;
}

.header .navItems{
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 3.5vw;

    margin-right: 2vw;
}

.header .logo, .header a{
    height: 5vh;
    width: 5vh;
}

.header .menuItem{
    width: 5.5625vw;
    height: 5.5625vw;
}
.button{
    background: #172678;
    border-radius: 2.26vw;
    width: 10.4166666666666vw;
    height: 3.2967032967032967vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1.5740740vh;
    cursor: pointer;
}


body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
    background: var(--background);
}

@media only screen and (orientation:landscape){
.header{
    height: 8vh;

    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 5vw;
}

.header .logo{
    height: 4;
}

.header .menuItem{
    width: 1.5625vw;

    margin-left: 1.822916666666666vw;

    cursor: pointer;
}

.header .menuItem:hover{
    transform: scale(1.02);
}

.button{
    background: #172678;
    border-radius: 10px;
    width: 10.4166666666666vw;
    height: 3.2967032967032967vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1.5740740vh;
    cursor: pointer;
}
.button:hover{
    background: #2136ad;
}
.outlineButton{
    border: 2px solid #172678;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #172678;
    fill: #172678;
    stroke: #172678;
    font-weight: 600;
    font-size: 1.5740740vh;
    cursor: pointer;
}
.outlineButton:hover{
    background-color: #2136ad;
    color: white;
    fill: white;
    stroke: white;
    transform: scale(1.2);
}

.alertButton{
    border: 2px solid #b30000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b30000;
    font-weight: 600;
    font-size: 1.5740740vh;
    cursor: pointer;
}
.alertButton:hover{
    background: #b30000;
    color: white;
}
.buttonIcon{
    background: #D9D9D9;
    border-radius: 100vh;
    padding: 0.4629629vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.buttonIcon:hover{
    background: #e2e2e2;
}

.textButton{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(87, 87, 87);
}
.textButton:hover{
    color: #3a9dc9;
}

img{
    object-fit: cover;
}

.highlight-on-hover:hover:not(.missing), .highlight-on-hover:focus:not(.missing){
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transform: scale(1.005);
    outline: none;
    border: 1px solid #172678;
}

select{
    cursor: pointer;
}

select:focus{
    outline:none;
}

label{
    cursor: pointer;
}
label:hover{
    text-decoration: underline;
}
}



.primaryButton{
    background: var(--blue);
    color: var(--text-inverted);
    padding: .75vh 2vw;
    border-radius: calc(var(--border-radius)/4);

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.secondaryButton{
    color: var(--blue);
    border: 2px solid var(--blue);
    padding: .75vh 2vw;
    border-radius: calc(var(--border-radius)/4);

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.secondaryButton:hover, .primaryButton:hover{
    transform: scale(1.04);
}

.missing{
    transform: scale(1.01);
    border: 1px solid var(--alert);
    border-radius: calc(var(--border-radius)/4);
}
