*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    transition: .3s;
    user-select: none;
    text-decoration: none;
    color: black;
    list-style: none; 
    border: none;
}

.header{
    height: 7.56vh;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;    

    padding-inline: 3vw;
}

.header .navItems :nth-child(1){
    width: 5.56vw;
    height: 5.56vw;
}

.header .logo, .header a{
    height: 3vh;
}

.header .menuItem{
    width: 5.5625vw;
    height: 5.5625vw;
}

.navItems{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
}


body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

@media only screen and (orientation:landscape){
.header{
    height: 5.555555555555vh;

    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 5.208333333vw;
}

.navItems{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .navItems :nth-child(1){
    width: 1.5625vw;
    height: 1.5625vw;
}

.header .logo{
    height: 2.592592vh;
}

.header .menuItem{
    width: 1.5625vw;

    margin-left: 1.822916666666666vw;

    cursor: pointer;
}

.header .menuItem:hover{
    transform: scale(1.02);
}

.button{
    background: #172678;
    border-radius: 10px;
    width: 10.4166666666666vw;
    height: 3.2967032967032967vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1.5740740vh;
    cursor: pointer;
}
.button:hover{
    background: #2136ad;
}
.outlineButton{
    border: 2px solid #172678;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #172678;
    fill: #172678;
    stroke: #172678;
    font-weight: 600;
    font-size: 1.5740740vh;
    cursor: pointer;
}
.outlineButton:hover{
    background-color: #2136ad;
    color: white;
    fill: white;
    stroke: white;
    transform: scale(1.2);
}

.alertButton{
    border: 2px solid #b30000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b30000;
    font-weight: 600;
    font-size: 1.5740740vh;
    cursor: pointer;
}
.alertButton:hover{
    background: #b30000;
    color: white;
}
.buttonIcon{
    background: #D9D9D9;
    border-radius: 100vh;
    padding: 0.4629629vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.buttonIcon:hover{
    background: #e2e2e2;
}

.textButton{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(87, 87, 87);
}
.textButton:hover{
    color: #3a9dc9;
}

img{
    object-fit: cover;
}

.highlight-on-hover:hover:not(.missing), .highlight-on-hover:focus:not(.missing){
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transform: scale(1.005);
    outline: none;
    border: 1px solid #172678;
}

select{
    cursor: pointer;
}

select:focus{
    outline:none;
}
}

