@media screen and (orientation:portrait){
    .searchBar{
        width: 100vw;
        height: 6.5vh;

        margin-top: 2vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .searchBox{
        padding-inline: 1.6vw;

        width: 64vw;
        height: 4vh;

        border-radius: 100vw;
        border: solid 1px black;

        background-color: #D9D9D9;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .searchIcon{
        height: 50%;
        margin-right: 3%;
    }

    .textInput{
        border: none;
        width:  inherit;
        height: 4.629629vh;
    
        color: black;
        font-size: 1.8vh;
        font-weight: 400;
        background: transparent;
    }
    .textInput:focus{outline: none;}

    main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: inherit;
    }

    .filterIcon{
        width: 4vh;
        height: 4vh;
        background-color: #D9D9D9;
        border: 1px solid black;
        border-radius: 30px;
        cursor: pointer;
        margin-left: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .filterIcon svg{
        height: 50%;
    }

    .icon{
        filter: invert(43%) sepia(67%) saturate(0%) hue-rotate(239deg) brightness(118%) contrast(121%);
    }


    .requestList{
        margin-inline: 5vw;
        flex-grow: 1;
    }

    .requestList ul li{
        width: 100%;
        height: 20.5vh;
        box-sizing: border-box;
        flex-grow: 1;
    }

    .requestList ul{
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
    }

    .requestList ul li .container{
        width: inherit;
        height: inherit;
        background-image: url(../images/defaultRequestPic.jpg);
        border: 2px solid #D9D9D9;
        border-radius: 2vw;
        display: flex;
        background-size: contain;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .requestList ul li .container .category{
        background: white;
        border-radius: 10px;
        padding-inline: 1vw;
        margin: 2vw;
    }
    .requestList ul li .container .category p{
        color: black;
        font-weight: 600;
        font-size: 1.62vh;
    }

    .requestList ul li .container .requestOfferIcon{
        background: white;
        border-radius: 10px;
        padding-inline: 1vw;
        margin: 2vw;
    }
    .requestList ul li .container .requestOfferIcon p{
        color: black;
        font-weight: 600;
        font-size: 1.62vh;
    }

    .requestList ul li .container .topLine{
        display: flex;
        justify-content: space-between;
        align-self: stretch;
    }

    .requestList ul li .container .details{
        width: 90%;
        height: 25%;
        background: #FFF;
        border-radius: 2vw;
        margin-bottom: 1.4vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 2vw;
    }

    .requestList ul li .container .details .name{
        font-weight: bold;
        font-size: 1.6vh;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 80%;
    }
    .requestList ul li .container .details .user{
        font-weight: normal;
        font-size: 1.3vh;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 80%;
    }

    .requestList ul li .container .details .left{
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .requestList ul li .container .details .price{
        font-size: 2.5vh;
    }

    .flipY{
        transform: scaleX(-1);
    }

    .pageButtons{
        margin-top: 4vh;
        padding-bottom: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pageButton{
        width: 12vw;
        height: 12vw;
        border-radius: 10vw;
        background: #D9D9D9;
        cursor: pointer;
    }

    .pageButton svg{
        width: 10vw;
        height: 10vw;
    }

    .pageText{
        width: 6vw;
        text-align: center;
        margin-inline: 3vw;
        height: 5vh;
        font-size: 2.5vh;
        border: none;
        height: 2.5vh;
        line-height: 100%;
    }
}


.filterSection{display: none;}
@media screen and (orientation:landscape){
.searchBar{
    width: 100vw;
    height: 6.481481vh;

    margin-top: 2.5vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

select#sortTypeDropdown{
    padding-inline: 1vw;
    margin-right: 4vw;

    width: 11svw;
    height: 4.6296vh;

    border-radius: 100vw;
    border: 1px solid black;

    background-color: #D9D9D9;
}

main{
    display: flex;
    justify-content: space-around;
    height: inherit;
}

.searchBox{
    padding-inline: 1.614814814vw;
    width: 34.6875vw;
    height: 4.6296vh;

    border-radius: 90px;
    background: #D9D9D9;

    border: 1px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textInput{
    border: none;
    width:  31.25vw;
    height: 4.629629vh;

    color: black;
    font-size: 2.314814814814814814814814vh;
    font-weight: 400;
    background: transparent;
}
.textInput:focus{outline: none;}
.searchBox:focus, .searchBox:hover, .filterIcon:hover{
    background-color: #c4c4c4;
    outline: none;
}

.searchIcon{
    height: 50%;
}

.filterIcon{
    border-radius: 100vh;
    width: 4.629629vh;
    height: 4.629629vh;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.25vw;
    border: 1px solid black;
    cursor: pointer;
}
.filterIcon svg{
    height: 50%;
}

.icon{
    filter: invert(43%) sepia(67%) saturate(0%) hue-rotate(239deg) brightness(118%) contrast(121%);
}

.requestList{
    margin-inline: 5.208333333333334vw;
    height: 46.29629629629629vh;
    margin-top: 9.25925925925926vh;
    flex-grow: 1;
}

.requestList ul li{
    width: 15.625vw;
    height: 15.625vw;
    box-sizing: border-box;
    flex-grow: 1;
}
.requestList ul li:hover{
    transform: scale(1.02);
}

.requestList ul{
    display: grid;
    gap: 2.604166666666667vw;
    grid-template-columns: repeat(auto-fill, minmax(14.84375vw, 1fr));
}

.requestList ul li .container{
    width: inherit;
    height: inherit;
    background-size: cover;
    background-position: center center;
    border: 3px solid #D9D9D9;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.requestList ul li .container .category{
    background-color: white;
    border-radius: 5px;
    padding-inline: 5px;
    align-self: flex-start;
    margin: 0.5208333333333334vw;
}
.requestList ul li .container .category p{
    color: black;
    font-weight: 600;
    font-size: 1.62vh;
}

.requestList ul li .container .details{
    width: 85%;
    height: 25%;
    background: #FFF;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    margin-bottom: 1.4814814814814814vh;
    margin-left: 0.83333vw;
    margin-right: 0.83333vw;
    cursor: pointer;
}

.requestList ul li .container .details .name{
    font-weight: bold;
    font-size: 1.6vh;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80%;
}
.requestList ul li .container .details .user{
    font-size: 1.1574074074074074vh;
    font-weight: 400;
}
.requestList ul li .container .details .price{
    font-size: 1.8518518518518516;
    line-height: 100%;
    margin-left: -10%;
}

.requestList ul li .container .details .left{
    flex-grow: 1;
}

.requestList ul li .container .requestOfferIcon{
    width: auto;
    height: auto;
    background: white;
    justify-self: flex-end;
    margin-left: 0.5208333333333334vw;
    padding-inline: 0.2604166666666667vw;
    border-radius: 5px;
}

.requestList ul li .container .requestOfferIcon p{
    color: rgb(158, 158, 158);
    font-weight: 600;
    font-size: 1.6203703703703702vh;
}

.requestList ul li .container .topLine{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.flipY{
    transform: scaleX(-1);
}

.pageButtons{
    margin-top: 4.62962962962963vh;
    padding-bottom: 4.62962962962963vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.pageButton{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 15px;
    background: #D9D9D9;
    cursor: pointer;
}
.pageButton:hover, .pageButton:active{
    background-color: #c4c4c4;
}
.pageButton svg{
    width: 2.0833333333333335vw;
    height: 2.0833333333333335vw;
}
.pageText{
    width: 3.90625vw;
    text-align: center;
    margin-inline: 1.0416666666666667vw;
    height: 4.166666666666666vh;
    font-size: 2.314814814814815vh;
    border: none;
}

input[type=text]:focus{
    outline: none;
}

.filterSection{
    width: 15vw;
    height: auto;
    margin-top: 9.25925925925926vh;
    left: 1.9791666666666667vw;
    gap: 2%;

    position: relative;

    display: flex;
    flex-direction: column;

    background: rgba(167, 167, 167, .8);
    border-radius: 16px;

    padding-inline: 0.5208333333333334vw;
    padding-block: 0.4629629629629629vh;

    transition: 0s;
}

.filterSection .priceSection, .filterSection .categorySection, .filterSection .typeSection{
    border-radius: 16px;
    background: #D9D9D9;
    width: auto;

    padding: 1.3888888888888888vh;
    height: auto;

    margin-block: 0.4629629629629629vh;
}

.filterSection .priceSection{
    height: 100px;
}
.filterSectionHeader{
    font-size: 1.8518518518518516vh;
    font-weight: bold;
}

.filterSection .priceSection .priceRangeDiv{
    display: flex;
    justify-content: center;
    margin-top: 2.962962962962963vh;
    gap: 0.9895833333333334vw;
}

.filterSection .priceSection .priceRangeDiv input[type=text]{
    width: 3.854166666666667vw;
    border: 1px solid black;
    border-radius: 5.7px;
    height: 2.5462962962962963vh;
    padding-inline: 0.2604166666666667vw;
}

.filterSection .priceSection .priceRangeDiv p{
    font-size: 1.3888888888888888vh;
    text-align: center;
}

.filterSection .categorySection ul{
    margin-bottom: 0.9259259259259258vh;
}

input[type=checkbox]{
    margin-right: 0.20833333333333334vw;
}

.categoryCheckBox{
    display: flex;
}
}