@media screen and (orientation:landscape){
main{
    display: flex;
    padding-inline: 5.2631578947368425vw;
    gap: 5.2631578947368425vw;
}

main .right{
    margin-top: 7.5vh;
}

main .left{
    width: 20vw;
    border-right: .1vh solid black;
    height: 100vh;
}

main .left .tabList li{
    font-size: 2.8vh;
    font-weight: 500;
    margin-bottom: 6.8vh;
    cursor: pointer;
}

main .left .tabList{
    margin-top: 7.5vh;
}

main .left .tabList li.active{
    font-weight: 600;
    text-decoration-line: underline;
}

main .right .generalInformationTab{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

main .right .generalInformationTab .profilePic{
    display: flex;
    align-items: center;
    gap: 1.5789473684210527vw;
}

main .right .generalInformationTab .profilePic img{
    height: 3.6842105263157894vw;
    width: 3.6842105263157894vw;
    border-radius: 100vh;
    border: .2vh solid black;
}

.settingTitle{
    width: 18.105263157894736vw;
    font-size: 2.5vh;
    font-weight: 500;
}

.tabHeader{
    font-size: 3.5vh;
    margin-bottom: 1.5vh;
}

.setting{
    display: flex;
    align-items: center;
}

.tabSubHeader{
    font-weight: 700;
    font-size: 2.7vh;
    margin-top: 5vh; 
    margin-bottom: 2vh;
}

.setting input, .setting textarea{
    border: .1vh solid black;
    padding-inline: 0.5263157894736842vw;
    width: 21.05263157894737vw;
    height: 5vh;
    border-radius: 1vh;
    font-size: 2.5vh;
}

.setting.description{
    align-items: start;
}
.setting.description textarea{
    height: 30vh;
    padding-block: 1vh;
    resize: vertical;
    min-height: 3vh;
    overflow-y: hidden;
}

.buttons{
    margin-block: 3vh;
    display: flex;
    gap: 1.5789473684210527vw;
}
.buttons div{
    height: 5vh;
    padding-inline:.3vw;
    padding-block:1vh;
    font-size: 2vh;
}

.right .tabs .myOffersTab .allOffers .offersLi{
    height: auto;
    border-radius: 1.6vh;
    width: 52.63157894736842vw;
}

.right .tabs .myOffersTab .allOffers .offersLi .orders{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    background: #D9D9D9;
    padding: 2vh 1.0526315789473684vw;
    border-radius: 1.6vh;
}

.right .tabs .myOffersTab .allOffers .offersLi .orders .ordersLi{
    display: flex;
    justify-content: space-between;
    padding: 1.5vh 0.7894736842105263vw;
    background: white;
    border-radius: 1.6vh;
    align-items: center;
}

.right .tabs .myOffersTab .allOffers .remainingTime, .right .tabs .myOffersTab .allOffers .messages, .right .tabs .myOffersTab .allOffers .clientName{
    font-size: 1.7vh;
    text-align: center;
}

.right .tabs .myOffersTab .allOffers .offersLi .orders .ordersLi .infos{
    display: flex;
    justify-content: space-between;
    gap: 1.0526315789473684vw;
    width: 20.526315789473685vw;
    align-items: center;
}

.right .tabs .myOffersTab .allOffers .offerName{
    font-weight: 600;
    font-size: 2.5vh;
    margin-left: 0.526vw;
    margin-bottom: 1.5vh;
}

.right .tabs .myOffersTab .allOffers .miniBtn *{
    width: 1.052vw;
    height: 2vh;
}

.right .tabs .myOffersTab .allOffers .miniBtn{
    width: 1.052vw;
    height: 1.052vw;
    cursor: pointer;
    background: rgb(176, 176, 176);
    padding: .4vh 0.21vw;
    border-radius: .5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .tabs .myOffersTab .allOffers .miniBtn:hover{
    background: rgb(166, 166, 166);
    transform: scale(1.01);
}

#profilePic{
    display: none;
}

#profilePicLabel{
    cursor: pointer;
}
#profilePicLabel:hover{
    text-decoration: underline;
}
}